body {
    background: #1F2937;
    margin: 0;
}

.all-section {
  position: absolute;
  width: 446px;
  height: 550px;
  left: 52px;
  top: 115px;
}

.heading {
  color: #ffffff;
  font-family: 'Karla';
  font-style: normal;
  font-weight: 800;
  font-size: 40px;
  line-height: 40px;
  letter-spacing: -0.025em;
  margin: 0
}

#second-line {
  color: #4ADF86;
}

.description {
  color: #D5D4D8;
  margin-top: 10px;
  margin-bottom: 50px;
}

#password-length {
  background: #273549;
  border: 2px solid #273549;
  border-radius: 6px;
  color: #10B981;
  display: block;
  margin-bottom: 20px;
  padding: 10px 20px;
  width: 100%;
}

.button {
  background: #10B981;
  border-radius: 6px;
  color: #ffffff;
  cursor: pointer;
  padding: 10px 20px;
}

hr {
    border: 1px solid #2F3E53;
    margin: 30px 0;
    width: 100%;
}

.bottom-section {
  align-items: center;
  color: #5DEF92;
  display: flex;
  font-family: 'Inter';
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 32px;
  justify-content: space-between;
}

.rectangle {
  background: #273549;
  border-radius: 6px;
  height: 40px;
  width: 211px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.password {
  margin: 0;
}
